<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Doğayla ilgili fikirler</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>Temiz bir gelecek, temiz bir çevreyle başlar.</h1>
      <p>Gelecek için doğayı koru.</p>
  </header>
  <main>
    {% block content %}
    <h2 class="main__title">Yaş aralığını seçin:</h2>
    <ul class="list">
      <li class="list__item">
        <a href="/1">
        <img class="item__img">
        <span>0-15</span></a>
      </li>
      <!-- Görev #1 -->
      <li class="list__item">
        <a href="/2">
        <img class="item__img">
        <span>15-30</span></a>
      </li>
      <li class="list__item">
        <a href="/3">
        <img class="item__img">
        <span>30-45</span></a>
      <!--  -->
      </li>
    </ul>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>
