<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Doğayla ilgili fikirler</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>Temiz bir gelecek, temiz bir çevreyle başlar.</h1>
      <p>Gelecek için doğayı koru.</p>
    </div>
  </header>
  <main>
    {% block content %}
    <h2 class="main__title">Ne ile ilgili fikirler istersin:</h2>
    <ul class="list" id="list">
      <li class="list__item">
        <a href={{size + "/4" }}>
          <img class="item__img">
          <span>Doğayı nasıl koruya bilirim?</span></a>
      </li>
      <!--Görev #2 -->
      <li class="list__item">
        <a href={{size + "/5" }}> 
          <img class="item__img">
          <span>Doğada Zamanı Nasıl Değerlendirebilirim?</span></a>
      </li>
      <li class="list__item">
        <a href={{size + "/6" }}>
          <img class="item__img">
          <span>Doğayla Neler Yapabilirim?</span></a>
      </li>
     
    </ul>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>
